<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="" class="brand-link ml-2">
        <img src="{{request.user.pharmacist.profile_pic.url}}" alt="" width="36" height="36" class=" img-circle elevation-3" style="opacity: .8">
        <span class="brand-text font-weight-light mt-1 ml-3 mmust">Mmust Pharmacy</span>
    </a>


    <div class="sidebar">
        <div class="user-panel mr-3">
            <div class="pull-left image ml-2">
                <img src="{{request.user.pharmacist.profile_pic.url}}" width="36" height="36" class="img-circle mt-2" alt="User Image">
            </div>
            <div class="pull-left info">
                <p>{{user.username}}</p>
                <a href="#"><em class="fa fa-circle text-success "></em> Online</a>
            </div>
        </div>


        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

                <li class="nav-item">
                    <a href="{% url  'pharmacist_home' %}" class="nav-link">
                        <em class="nav-icon fas fa-tachometer-alt"></em>
                        <p>
                            Dashboard
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <em class="nav-icon fas fa-th"></em>
                        <p>
                            Patient
                            <em class="right fas fa-angle-left"></em>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">

                        <li class="nav-item pl-2">
                            <a href="{% url 'manage_patient_pharmacist' %}" class="nav-link">
                                <em class="fas fa-id-card-alt"></em>
                                <p class="pl-2">Dispense</p>
                            </a>
                        </li>

                        <li class="nav-item pl-2">
                            <a href="{% url 'pharmacist_prescription' %}" class="nav-link">
                                <em class="fas fa-pills"></em>
                                <p class="pl-2">Manage disp</p>
                            </a>
                        </li>
                    </ul>
                </li>             
                <li class="nav-item">
                    <a href="{% url 'manage_stock2' %}" class="nav-link">
                        <em class="fas fa-layer-group mr-2"></em>
                        <p>
                            Manage Stock
                        </p>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="{% url  'patient_feedback_message' %}" class="nav-link">
                        <em class="fas fa-tachometer-alt mr-2"></em>
                        <p>
                            Feedback
                            <span class="right badge badge-danger">2</span>
                        </p>
                    </a>
                </li>

            </ul>
        </nav>
    </div>
</aside>